language: node_js
branches:
  only:
    - master
node_js:
  - "5"
  - "6"
  - "7"
install:
  - npm install
script:
  - npm run lint && npm run test
after_success:
  - npm run build
deploy:
  skip_cleanup: true
  provider: script
  script: npm run maybePublish
  on:
    branch: master
    node: "7"
